<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/style.bundle.css">
  <title>Test HMD</title>
</head>
<body>
  <section class="header">
    <div class="header__container container">
      <div class="header__above-header">
        <p class="header__contact-text">Multicultural education is at the core of the curriculum.<span>Why Us?</span></p>
        <div class="header__social">
          <p class="header__social-text">Let’s Connect!</p>
          <img src="../../img/Facebook.svg" alt="" class="header__social-icon header__social-icon--facebook">
          <img src="../../img/Twitter.svg" alt="" class="header__social-icon header__social-icon--twitter">
        </div>
      </div>
    </div>
  </section>
</body>
</html>